.hero {
    background-color: var(--bg-dark);
    min-width: 1600px;
    width: 100%;
    min-height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;


&__bg-img {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}


&__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-white);
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}


&__modal-btn {
    padding: 10px 32px;
}




}








