.services {
    padding-top: 0;
}

.services__list {
    display: inline-flex;
}

.services__item:not(:last-child) {
    margin-right: 30px;
}

.services__item {
    position: relative;
    z-index: -100;

}

.services__text {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--bg-white);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

}