body {
    font-family: var(--base-font) ;
    background-color: var(--bg-white);
    color: var(--base-text);
    font-size: 14px;
    letter-spacing: 0.03em;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}